<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${user.username}">Имя Исполнителя</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/worker/objects}"><img th:src="@{/icon/home.png}"
				                                                                    alt="дом"
				                                                                    title="Выбор объекта"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Название Объекта</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="worker-work.html" th:href="'/worker/work/' + ${object.objectId}">Текущие
							задачи/Отчетность</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="worker-journal.html"
						   th:href="'/worker/journal/'+ ${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-psd.html"
						   th:href="'/worker/psd/' + ${object.objectId}">Проектная документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-application.html" th:href="'/worker/application/' + ${object.objectId}">Заявка</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Журнал работ-->
<section class="journal">
	<div class="bt-string">
		<button class="btn-add-string" type="button" data-bs-toggle="modal"
		        data-bs-target="#addStringModal"
		        title="Добавить строку">
			<img th:src="@{/icon/plus-b.png}" style="vertical-align: middle"></button>
		<form method="post" th:action="'/worker/journal/'+${object.objectId}+'/dellStr'">
		<button class="btn-del-string" type="submit"
		        title="Удалить строку">
			<img th:src="@{/icon/basket-b.png}" style="vertical-align: middle"></button>
		</form>
	</div>
	<div class="j-table">
		<div class="scroll-table">
			<table>
				<thead>
				<tr>
					<th>№</th>
					<th>ДАТА</th>
					<th>ФИО</th>
					<th>ВРЕМЯ, ч</th>
					<th>РАБОТЫ</th>
				</tr>
				</thead>
				<tbody>
				<div th:each="str,iStat : ${journal}">
					<tr>
						<td class="colum-num" th:text="${iStat.count}"></td>
						<td class="colum-data" th:text="${str.date}"></td>
						<td class="colum-fio" th:text="${str.fio}"></td>
						<td class="colum-hour" th:text="${str.time}"></td>
						<td class="colum-work" th:text="${str.report}"></td>
					</tr>
				</div>
				</tbody>
			</table>
		</div>
	</div>

</section>

<!--Модальное окно для добавления строки-->
<div class="modal fade modal-edit" id="addStringModal" tabindex="-1"
     aria-labelledby="addStringModalLabel"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addStringModalLabel">Добавить строку</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addStr" method="post" th:action="'/worker/journal/'+${object.objectId}+'/addStr'">
							<h6>Заполните поля:</h6>
							<div class="mb-3">
								<label for="InputData" class="form-label">Дата</label>
								<input type="date" name="date" class="form-control" id="InputData">
							</div>
							<div class="mb-3">
								<label for="InputFIO" class="form-label">ФИО работника</label>
								<input type="text" name="fio" class="form-control" id="InputFIO" placeholder="Фамилия И.О.">
							</div>
							<div class="mb-3">
								<label for="InputHour" class="form-label">Время,ч</label>
								<input type="number" name="time" class="form-control" id="InputHour">
							</div>
							<div class="mb-3">
								<label for="InputWork" class="form-label">Работы</label>
								<input type="text" name="report" class="form-control" id="InputWork">
							</div>
							<input type="hidden" name="userId" th:value="${user.user_id}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addStr" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Модальное окно для удаления строки-->


<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
