<!doctype html>
<html lang="ru">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5>Имя Исполнителя</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/customer/objects}"><img src="../icon/home.png"
				                                                                    alt="дом" title="Выбор объекта"></a>
				<a href="index.html" th:href="@{/}"  title="Выход"><img src="../icon/logout.png" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5>Название Объекта</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="worker-work.html" th:href="@{/worker/work}">Текущие задачи/Отчетность</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-journal.html" th:href="@{/worker/journal}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="worker-psd.html" th:href="@{/worker/psd}">Проектная документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-application.html" th:href="@{/worker/application}">Заявка</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Проектная Документация-->
<section class="pd">
	<div class="container-fluid">
		<div class="row name ">
			<h3>ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ</h3>
		</div>
		<div class="row list">
			<ul>
				<li><a href="#">План архитектурных работ</a></li>
				<li><a href="#">План электромонтажных работ</a></li>
				<li><a href="#">Дизайн помещения</a></li>
				<li><a href="#">План вентиляционной системы</a></li>
				<li><a href="#">План водоснабжения и отопительной системы</a></li>
			</ul>
		</div>
	</div>
</section>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
