<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${user.username}">Имя Исполнителя</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/worker/objects}"><img th:src="@{/icon/home.png}"
				                                                                    alt="дом" title="Выбор объекта"></a>
				<a href="index.html" th:href="@{/logout}"  title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Название Объекта</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="worker-work.html" th:href="'/worker/work/' + ${object.objectId}">Текущие задачи/Отчетность</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-journal.html" th:href="'/worker/journal/'+ ${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="worker-psd.html" th:href="'/worker/psd/' + ${object.objectId}">Проектная документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="worker-application.html" th:href="'/worker/application/' + ${object.objectId}">Заявка</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Проектная Документация-->
<section class="pd">
	<div class="container-fluid">
		<div class="row name ">
			<h3>ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ</h3>
		</div>
		<div class="row list">
			<ul>
				<li th:each="pj : ${projects}" > <a th:href="${pj.project}" download="" th:text="${pj.nameOfProject}">name of project</a> </li>
			</ul>
		</div>
	</div>
</section>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
