<!doctype html>
<html lang="ru">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header-start">
	<div class="container-fluid">
		<div class="row name-account">
			<h5>имя клиента</h5>
		</div>
		<div class="row name-object">
			<h5>КОНТРОЛИРУЕМЫЕ ОБЪЕКТЫ</h5>
		</div>
	</div>
</section>

<!--Выбор кабинета-->
<section class="choice">
	<div class="container-fluid">
		<div class="row">

		</div>
	</div>
</section>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
