<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${nameEngineer}">Имя Инженера</h5>
			</div>
			<div class="col col-home">
				<a class="admin-link" href="admin-objects.html" th:href="@{/engineer/adminObjects}">Админ</a>
				<a href="engineer-objects.html" th:href="@{/engineer/objects}" title="Выбор объекта"><img th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="engineer-calendar.html"
						   th:href="'/engineer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-psd.html" th:href="'/engineer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-work.html" th:href="'/engineer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="engineer-journal.html"
						   th:href="'/engineer/journal/'+${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-online.html" th:href="'/engineer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-application.html" th:href="'/engineer/application/'+${object.objectId}">Заявки</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Журнал работ-->
<section class="journal">
	<div class="j-table">
	<div class="scroll-table">
		<table>
			<thead>
			<tr>
				<th>№</th>
				<th>ДАТА</th>
				<th>ФИО</th>
				<th>ВРЕМЯ, ч</th>
				<th>РАБОТЫ</th>
			</tr>
			</thead>
			<tbody>
			<div th:each="str,iStat : ${journal}">
			<tr>
				<td class="colum-num" th:text="${iStat.count}"></td>
				<td class="colum-data" th:text="${str.date}"></td>
				<td class="colum-fio" th:text="${str.fio}"></td>
				<td class="colum-hour" th:text="${str.time}"></td>
				<td class="colum-work" th:text="${str.report}"></td>
			</tr>
			</div>
			</tbody>
		</table>
	</div>
	</div>
</section>



<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
