<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${nameEngineer}">Имя Инженера</h5>
			</div>
			<div class="col-home">
				<a class="admin-link" href="admin-objects.html"
				   th:href="@{/engineer/adminObjects}">Админ</a>
				<a href="engineer-objects.html" th:href="@{/engineer/objects}" title="Выбор объекта"><img
						th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}"
				                                                             alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="engineer-calendar.html"
						   th:href="'/engineer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-psd.html"
						   th:href="'/engineer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-work.html"
						   th:href="'/engineer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-journal.html"
						   th:href="'/engineer/journal/'+${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-online.html"
						   th:href="'/engineer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-application.html"
						   th:href="'/engineer/application/'+${object.objectId}">Заявки</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Выбор года-->
<form method="get" th:action="'/engineer/calendar/' +${object.objectId}">
	<div class="container-fluid">
		<div class="row year-calendar">
			<select class="form-select" name="year" aria-label="Default select example">
				<option th:value="${year}" th:text="${year}">Текущий год</option>
				<div th:each="ya : ${years}">
					<option th:value="${ya}" th:text="${ya}"></option>
				</div>
			</select>
			<button type="submit">ОК</button>
			<button class="btn-addYear" type="button" data-bs-toggle="modal"
			        data-bs-target="#addYearModal"
			        data-bs-placement="top" title="Добавить год">
				<img th:src="@{/icon/plus-b.png}" style="vertical-align: middle"></button>
		</div>
	</div>
</form>

<!--Календарь-->
<section class="calendar">
	<div class="container-fluid">
		<div class="row table-body">
			<!-- Таблица-->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							ЯНВАРЬ
						</div>
						<div class="work b1-3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${jan}" th:text="${work.task}">
								</li>
							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-jan"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-jan"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${janCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ФЕВРАЛЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${feb}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-feb"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-feb"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${febCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							МАРТ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${mar}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-mar"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-mar"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${marCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АПРЕЛЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${apr}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-apr"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-apr"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${aprCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							МАЙ
						</div>
						<div class="work b1-3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${may}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-may"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-may"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${mayCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮНЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${jun}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-jun"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-jun"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${junCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮЛЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${jul}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-jul"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-jul"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${julCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АВГУСТ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${aug}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-aug"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-aug"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${augCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							СЕНТЯБРЬ
						</div>
						<div class="work b1-3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${sep}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-sep"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-sep"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${sepCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ОКТЯБРЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${oct}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-oct"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-oct"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${octCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							НОЯБРЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${nov}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-nov"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-nov"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${novCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ДЕКАБРЬ
						</div>
						<div class="work b3">
							<ul class="calendar-list">
								<li class="li-cal-list" th:each="work : ${dec}" th:text="${work.task}">
								</li>

							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i-dec"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i-dec"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul class="calendar-list" >
								<li class="li-cal-list" th:each="comm : ${novCom}" th:text="${comm.comment}"></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Модальное окно для добавление записи-->
<div class="modal fade modal-edit" id="addComentModal-i-jan" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-jan"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-jan">Добавить задание на январь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormJan" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Январь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormJan" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-feb" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-feb"aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-feb">Добавить задание на февраль</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormFeb" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Февраль">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormFeb" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-mar" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-mar"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-mar">Добавить задание на март</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormMar" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Март">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormMar" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-apr" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-apr"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-apr">Добавить задание на апрель</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormApr" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Апрель">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormApr" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-may" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-may"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-may">Добавить задание на май</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormMay" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Май">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormMay" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-jun" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-jun"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-jun">Добавить задание на июнь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormJun" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Июнь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormJun" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-jul" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-jul"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-jul">Добавить задание на июль</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormJul" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Июль">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormJul" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-aug" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-aug"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-aug">Добавить задание на август</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormAug" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Август">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormAug" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-sep" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-sep"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-sep">Добавить задание на сентябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormSep" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Сентябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormSep" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-oct" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-oct"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-oct">Добавить задание на октябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormOct" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Октябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormOct" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-nov" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-nov"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-nov">Добавить задание на ноябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormNov" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Ноябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormNov" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-i-dec" tabindex="-1"
     aria-labelledby="addComentModalLabel-i-dec"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i-dec">Добавить задание на декабрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addWorkFormDec" method="post" th:action="'/engineer/calendar/' +${object.objectId}+'/addwork'">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="work" aria-label="With textarea"></textarea>
							<br>
							<h6>Выберите исполнителя:</h6>
							<select class="form-select" name="workername" aria-label="Default select example">
								<option value="">Имя исполнителя</option>
								<div th:each="wk : ${workers}">
									<option th:value="${wk.username}" th:text="${wk.username}"></option>
								</div>
							</select>
							<input type="hidden" name="month" value="Декабрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addWorkFormDec" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Модальное окно для удаления записи-->
<div class="modal fade modal-edit" id="dellComentModal-i-jan" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-jan"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-jan">Удалить задание на январь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskJan" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${jan}">
							<div class="form-check">
								<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault1">
								<label class="form-check-label" for="flexCheckDefault1" th:text="${task.task}">
									Задние...
								</label>
							</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskJan" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-feb" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-feb"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-feb">Удалить задание на февраль</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskFeb" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${feb}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault2">
									<label class="form-check-label" for="flexCheckDefault2" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskFeb" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-mar" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-mar"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-mar">Удалить задание на март</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskMar" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${mar}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault3">
									<label class="form-check-label" for="flexCheckDefault3" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskMar" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-apr" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-apr"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-apr">Удалить задание на апрель</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskApr" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${apr}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault4">
									<label class="form-check-label" for="flexCheckDefault4" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskApr" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-may" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-may"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-may">Удалить задание на май</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskMay" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${may}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault5">
									<label class="form-check-label" for="flexCheckDefault5" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskMay" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-jun" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-jun"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-jun">Удалить задание на июнь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskJun" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${jun}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault6">
									<label class="form-check-label" for="flexCheckDefault6" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskJun" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-jul" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-jul"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-jul">Удалить задание на июль</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskJul" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${jul}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault7">
									<label class="form-check-label" for="flexCheckDefault7" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskJul" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-aug" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-aug"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-aug">Удалить задание на август</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskAug" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${aug}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault8">
									<label class="form-check-label" for="flexCheckDefault8" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskAug" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-sep" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-sep"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-sep">Удалить задание на сентябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskSep" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${sep}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault9">
									<label class="form-check-label" for="flexCheckDefault9" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskSep" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-oct" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-oct"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-oct">Удалить задание на октябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskOct" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${oct}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault10">
									<label class="form-check-label" for="flexCheckDefault10" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskOct" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-nov" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-nov"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-nov">Удалить задание на ноябрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskNov" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${nov}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault11">
									<label class="form-check-label" for="flexCheckDefault11" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskNov" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-i-dec" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i-dec"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i-dec">Удалить задание на декабрь</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delTaskDec" method="post" th:action="'/engineer/calendar/'+${object.objectId}+'/deleteTasks'">
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div th:each="task : ${dec}">
								<div class="form-check">
									<input class="form-check-input" name="task" type="checkbox" th:value="${task.calendarId}" id="flexCheckDefault12">
									<label class="form-check-label" for="flexCheckDefault12" th:text="${task.task}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delTaskDec" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>


<!--Модальное окно для добавление года-->
<div class="modal fade modal-edit" id="addYearModal" tabindex="-1"
     aria-labelledby="addYearModal"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addYearLabel">Добавить новый год</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addYearForm" method="post">
							<h6>Введите год, который хотите добавить:</h6>
							<input type="text" name="newYear" class="form-control"  placeholder="2000" pattern="[0-9]{4}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addYearForm" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
