<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${nameEngineer}">Имя Инженера</h5>
			</div>
			<div class="col-home">
				<a class="admin-link" href="admin-objects.html" th:href="@{/engineer/adminObjects}">Админ</a>
				<a href="engineer-objects.html" th:href="@{/engineer/objects}" title="Выбор объекта"><img th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h " href="engineer-calendar.html"
						   th:href="'/engineer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-psd.html" th:href="'/engineer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-work.html" th:href="'/engineer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-journal.html"
						   th:href="'/engineer/journal/'+${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="engineer-online.html" th:href="'/engineer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-application.html" th:href="'/engineer/application/'+${object.objectId}">Заявки</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Трансляция-->
<section class="video">
	<div class="container-fluid">
		<div class="row">
			<div class="accordion" id="accordionExample">
				<div th:each="el:${cameras}">
				<div class="accordion-item">
					<h2 class="accordion-header" th:id="'panels-heading'+${el.cameraId}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						        th:data-bs-target="'#panels-collapse'+${el.cameraId}" aria-expanded="false"
						        th:aria-controls="'panels-collapse'+${el.cameraId}" th:text="${el.nameCamera}">
						</button>
					</h2>
					<div th:id="'panels-collapse'+${el.cameraId}" class="accordion-collapse collapse"
					     th:aria-labelledby="'panels-heading'+${el.cameraId}" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div class="camera1">
								<iframe th:src="${el.cameraURL}"
								        title="YouTube video player"
								        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								        allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>

				<button class="btn-online-ac" type="submit" data-bs-toggle="modal" data-bs-target="#addCameraModal" title="Добавить камеру"><img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
				<button class="btn-online-ac" type="submit"  data-bs-toggle="modal" data-bs-target="#dellCameraModal" title="Удалить камеру"><img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
			</div>
		</div>
	</div>
</section>

<!--Модальное окно для добавления камеры-->
<div class="modal fade modal-edit" id="addCameraModal" tabindex="-1" aria-labelledby="addCameraModalLabel"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addCameraModalLabel">Добавить камеру</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="addCam" method="post" th:action="'/engineer/online/'+${object.objectId}+'/addCamera'">
							<h6>Введите название камеры и ссылку:</h6>
							<div class="mb-3">
								<label for="nameCamera" class="form-label">Название</label>
								<input type="text" name="nameCamera" class="form-control" id="nameCamera">
							</div>
							<div class="mb-3">
								<label for="urlCamera" class="form-label">Ссылка</label>
								<input type="url" name="urlCamera" class="form-control" id="urlCamera">
							</div>

						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCam" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Модальное окно для удаления камеры-->
<div class="modal fade modal-edit" id="dellCameraModal" tabindex="-1"
     aria-labelledby="dellCameraModalLabel"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellCameraModalLabel">Удалить камеру</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="dellCam" method="post" th:action="'/engineer/online/'+${object.objectId}+'/deleteCamera'">
							<h6>Выберите камеру,которые хотите удалить:</h6>
							<div th:each="cam : ${cameras}">
								<div class="form-check">
									<input class="form-check-input" name="cameraId" type="checkbox" th:value="${cam.cameraId}" th:id="'flexCheckDefault'+${cam.cameraId}">
									<label class="form-check-label" th:for="'flexCheckDefault'+${cam.cameraId}" th:text="${cam.nameCamera}">
										Название камеры...
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="dellCam" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
