<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${nameEngineer}">Имя Инженера</h5>
			</div>
			<div class="col col-home">
				<a class="admin-link" href="admin-objects.html"
				   th:href="@{/engineer/adminObjects}">Админ</a>
				<a href="engineer-objects.html" th:href="@{/engineer/objects}" title="Выбор объекта"><img
						th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}"
				                                                             alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="engineer-calendar.html"
						   th:href="'/engineer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-psd.html"
						   th:href="'/engineer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-work.html"
						   th:href="'/engineer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-journal.html"
						   th:href="'/engineer/journal/'+${object.objectId}">Журнал работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-online.html"
						   th:href="'/engineer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="engineer-application.html"
						   th:href="'/engineer/application/'+${object.objectId}">Заявки</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Выбор года-->
<form method="post" th:action="'/customer/work/' +${object.objectId}">
	<div class="container-fluid">
		<div class="row year-calendar">
			<select class="form-select" name="year" aria-label="Default select example">
				<option th:value="${year}" th:text="${year}">Текущий год</option>
				<div th:each="ya : ${years}">
					<option th:value="${ya}" th:text="${ya}"></option>
				</div>

			</select>
			<button type="submit">ОК</button>

			<button class="btn-addYear" type="button" data-bs-toggle="modal"
			        data-bs-target="#addYear"
			        data-bs-placement="top" title="Добавить год">
				<img th:src="@{/icon/plus-b.png}" style="vertical-align: middle"></button>



		</div>


	</div>
</form>

<!--Календарь-->
<section class="calendar">
	<div class="container-fluid">
		<div class="row table-body">
			<!-- Таблица-->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							ЯНВАРЬ
						</div>
						<div class="work b1-3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ФЕВРАЛЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>

							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							МАРТ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АПРЕЛЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							МАЙ
						</div>
						<div class="work b1-3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮНЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>

							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮЛЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АВГУСТ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							СЕНТЯБРЬ
						</div>
						<div class="work b1-3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b1">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ОКТЯБРЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
								<!--												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, modi?</li>-->
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>

							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							НОЯБРЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ДЕКАБРЬ
						</div>
						<div class="work b3">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt-i b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-i"
							        data-bs-placement="top" title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-i"
							        data-bs-placement="top" title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment mb b2">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Модальное окно для добавление записи-->
<div class="modal fade modal-edit" id="addComentModal-i" tabindex="-1"
     aria-labelledby="addComentModalLabel-i"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-i">Добавить задание на месяц</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form>
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" aria-label="With textarea"></textarea>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Модальное окно для удаления записи-->
<div class="modal fade modal-edit" id="dellComentModal-i" tabindex="-1"
     aria-labelledby="dellComentModalLabel-i"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-i">Удалить задание на месяц</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form>
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Задние...
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
								       checked>
								<label class="form-check-label" for="flexCheckChecked">
									Задание ...
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
