@charset "UTF-8";
body {
  color: #3c4b60;
}
body h1 {
  color: #3c4b60;
  font-weight: 400;
}
body h5 {
  color: #91629a;
}

.back-dark {
  background-color: #3c4b60;
}
.back-dark h2 {
  font-weight: 600;
  color: #f9f9f9;
}

.back-light {
  background-color: #f9f9f9;
}
.back-light h2 {
  font-weight: 600;
  color: #3c4b60;
}

.header .container-fluid, .maintext .container-fluid {
  padding: 0 25px;
}

/*Оформление заголовка*/
.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #559FB3;
}

.navbar-toggler {
  border: 2px solid transparent;
}

.navbar-light .navbar-toggler {
  padding: 0.1rem 0.2rem;
  color: #f9f9f9;
  border-color: #f9f9f9;
  opacity: 0.5;
}
.navbar-light .navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.15rem;
          box-shadow: 0 0 0 0.15rem;
  border: 2px solid transparent;
  opacity: 0.8;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(log.png);
}
.navbar-light .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-light .navbar-nav {
  margin-right: 40px;
}
.navbar-light .navbar-nav li {
  display: inline-block;
  font-size: 18px;
}
.navbar-light .navbar-nav li a {
  display: inline-block;
  color: #f9f9f9;
  opacity: 0.6;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
}
.navbar-light .navbar-nav li a:hover {
  opacity: 1;
}
.navbar-light .btn-log {
  padding: 10px 30px;
  width: 150px;
  height: 40px;
  line-height: 1;
  background-color: #bdd4db;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 600;
  border-radius: 25px;
  -webkit-box-shadow: 0 8px 8px rgba(60, 75, 96, 0.4);
          box-shadow: 0 8px 8px rgba(60, 75, 96, 0.4);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.navbar-light .btn-log:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  color: #f9f9f9;
  -webkit-box-shadow: 0 6px 9px rgba(60, 75, 96, 0.8);
          box-shadow: 0 6px 9px rgba(60, 75, 96, 0.8);
}
.navbar-light .navbar-brand {
  text-decoration: none;
  font-family: "Bakbak One", cursive;
  font-weight: 1000;
  font-size: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(243, 252, 255, 0.65);
  background-image: -webkit-gradient(linear, left top, right top, from(#eaf6fa), to(#70b2c5));
  background-image: linear-gradient(90deg, #eaf6fa, #70b2c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Карусель*/
.carousel {
  margin-top: 80px;
  height: 300px;
}

.carousel-item {
  height: 300px;
}

/*Блок возможостей*/
.about {
  padding: 25px 0;
}
.about h1 {
  text-align: center;
  margin-bottom: 25px;
}
.about h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.opportunities {
  text-align: center;
}
.opportunities .card {
  border: none;
  border-radius: 1rem;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  height: 90%;
}
.opportunities img {
  padding: 25px 0;
}
.opportunities .card-img-top {
  width: 72px;
}
.opportunities .card-body {
  text-align: center;
  padding: 0 15px;
}
.opportunities .card-body h5 {
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 15px;
}
.opportunities .card-body .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.opportunities .card-body ul {
  text-align: left;
  margin-bottom: 25px;
}
.opportunities .card-body li {
  border: none;
  margin-left: 15px;
  position: relative;
  padding: 0.5rem 1rem;
}
.opportunities .card-body li::marker {
  content: "–";
  font-weight: bold;
  color: #559FB3;
}

/*Личный кабинет*/
.personal-account .one, .personal-account two {
  padding: 0 25px;
}
.personal-account .card {
  border: none;
  margin-bottom: 50px;
  background-color: transparent;
}
.personal-account .card .card-img-top {
  width: 72px;
}
.personal-account .card .card-body {
  text-align: center;
}
.personal-account .card .card-body .card-title {
  color: #559FB3;
}

/*Подвал*/
footer {
  height: 60px;
  background-color: #559FB3;
  color: rgba(249, 249, 249, 0.7);
  font-size: 16px;
  font-style: italic;
}
footer .container-fluid {
  height: 100%;
  padding: 0 25px;
}
footer .row {
  height: 100%;
}
footer p {
  margin: 0;
}
footer img {
  width: 32px;
  margin-right: 10px;
}

/*Отображение на маленьком экране*/
@media screen and (max-width: 800px) {
  .navbar-light .navbar-brand {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  /*Заголовок*/
  .header .container-fluid {
    margin: auto;
  }

  .navbar-light .navbar-brand {
    font-size: 35px;
  }
  .navbar-light .btn-log {
    margin-bottom: 0.8rem;
  }
  .navbar-light .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .navbar-light .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /*Карусель*/
  .carousel {
    margin-top: 58px;
    height: 250px;
  }

  .carousel-item {
    height: 250px;
  }

  /*Текст*/
  /*Заказать*/
  /* Подвал*/
  footer {
    font-size: 12px;
  }
}