/**
 * Базовые стили для всего сайта
 */
body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}
/*Оформление заголовка*/
.navbar {
    width: 100%;
    height: 70px;
    background-color: #559FB3;
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);*/
}
.navbar.container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container, .container-md, .container-sm {
    max-width: 98%;
    max-height: 100%;
}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    color: #eaf6fa;
    opacity: 0.6;
    font-weight: 600;

    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
}
.navbar-menu li a:hover{
    opacity: 1;
}
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.btn-log {
    margin-left: 40px;
    padding: 10px 30px;
    width: 150px;
    background-color:#BAEF6D;
    color: #428194;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    box-shadow: 0 9px 6px rgba(11, 105, 124, 0.2);
    transition: all .1s ease-out;
}
.btn-log:hover{
    transform: scale(1.04);
    color: #fff;
    box-shadow: 0 4px 9px rgb(214, 234, 243,.5);
}
.navbar-brand {
    line-height: 0;
    font-family: 'Bakbak One', cursive;
    font-weight: 1000;
    font-size: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(243, 252, 255, 0.65); /*страховка*/
    /*градиент*/
    background-image: linear-gradient(90deg, #eaf6fa, #70b2c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-brand:hover{
    color: #eaf6fa;
}