<!doctype html>
<html lang="ru">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<h5>Личный кабинет Имя Клиента</h5>
		</div>
		<div class="row name-object">
			<h5>Название Объекта</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="customer-calendar.html" th:href="@{/customer/calendar}">Календарь
							работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-psd.html" th:href="@{/customer/psd}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="customer-work.html"
						   th:href="@{/customer/work}">Отчет выполненныхработ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-online.html" th:href="@{/customer/online}">Онлайн-трансляция</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Название-->
<div class="container-fluid">
	<div class="row date">
		<select class="form-select" aria-label="Default select example">
			<option selected>Текущий месяц</option>
			<option value="1">Январь</option>
			<option value="2">Февраль</option>
			<option value="3">Март</option>
			<option value="4">Апрель</option>
			<option value="5">Май</option>
			<option value="6">Июнь</option>
			<option value="7">Июль</option>
			<option value="8">Август</option>
			<option value="9">Сентябрь</option>
			<option value="10">Октябрь</option>
			<option value="11">Ноябрь</option>
			<option value="12">Декабрь</option>
		</select>
		<select class="form-select" aria-label="Default select example">
			<option selected>Текущий год</option>
			<option value="1">2022</option>
			<option value="2">2021</option>
		</select>
		<button type="button">ОК</button>
	</div>

</div>

<!-- Таблица выполненных работ-->
<section class="work-otchet">
	<div class="scroll-table">
		<table>
			<thead>
			<tr>
				<th>РАБОТЫ</th>
				<th>ВЫПОЛНЕНИЕ</th>
				<th>ПРОБЛЕМЫ</th>
				<th>КОММЕНТАРИИ ИНЖЕНЕРА</th>
				<th>КОММЕНТАРИИ ЗАКАЗЧИКА</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="colum-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto,
					excepturi!
				</td>
				<td class="colum-process">Lorem ipsum dolor.</td>
				<td class="colum-problem">Lorem ipsum dolor sit amet.</td>
				<td class="colum-comment-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Distinctio dolore illo nostrum, saepe tempora veniam.</td>
				<td class="colum-comment-z"></td>
			</tr>
			<tr>
				<td class="colum-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					corporis cumque debitis dignissimos maxime necessitatibus omnis, perferendis porro
					repellat repudiandae!
				</td>
				<td class="colum-process">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
					natus.
				</td>
				<td class="colum-problem"></td>
				<td class="colum-comment-i"></td>
				<td class="colum-comment-z">Lorem ipsum dolor sit amet.	</td>
			</tr>
			<tr>
				<td class="colum-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto,
					excepturi!
				</td>
				<td class="colum-process">Lorem ipsum dolor.</td>
				<td class="colum-problem">Lorem ipsum dolor sit amet.</td>
				<td class="colum-comment-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quo.</td>
				<td class="colum-comment-z">Lorem ipsum dolor sit amet.
				</td>
			</tr>
			<tr>
				<td class="colum-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto,
					excepturi!
				</td>
				<td class="colum-process">Lorem ipsum dolor.</td>
				<td class="colum-problem">Lorem ipsum dolor sit amet.</td>
				<td class="colum-comment-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quo.</td>
				<td class="colum-comment-z">Lorem ipsum dolor sit amet.
				</td>
			</tr>
			<tr>
				<td class="colum-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto,
					excepturi!
				</td>
				<td class="colum-process">Lorem ipsum dolor.</td>
				<td class="colum-problem">Lorem ipsum dolor sit amet.</td>
				<td class="colum-comment-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quo.</td>
				<td class="colum-comment-z">Lorem ipsum dolor sit amet.
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>

<!-- Фотоотчет-->
<section class="fotootchet">
	<div class="container-fluid">
		<div class="row name">
			<h3>ФОТООТЧЕТ</h3>
		</div>
	</div>
	<div class="row gal">

	</div>
</section>


<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
<script>
	// Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById('myImg');
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");
	img.onclick = function(){
		modal.style.display = "block";
		modalImg.src = this.src;
		captionText.innerHTML = this.alt;
	}

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}
</script>
</body>
</html>
