<!DOCTYPE html>
<html>
<body>
<header th:fragment="header1">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">BUILDSERVICE</a>
            <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><a href="index.html" th:href="@{/}">О Нас</a></li>
                <li><a href="contacts.html" th:href="@{/contacts}">Контакты</a></li>
            </ul>
                <button class="btn btn-log" >Вход</button>
            </div>
        </div>
    </nav>
</header>
</body>
</html>