<html lang="en">
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <title>Авторизация</title>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
<!--    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">-->
<!--</head>-->
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<div class="container-fluid">
	<div class="row row-login">
		<form class="form-signin" method="post" action="/login">
			<h3 class="form-signin-heading">Введите логин и пароль:</h3>
			<p>
				<label for="username" class="sr-only">Логин</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="username"
				       required="" autofocus="">
			</p>
			<p>
				<label for="password" class="sr-only">Пароль</label>
				<input type="password" id="password" name="password" class="form-control"
				       placeholder="password" required="" autocomplete="off">

			</p>
			<div id="Help" class="form-text">Логин и пароль выдаются после подписания договора на оказание
				услуг.
			</div>
			<input name="_csrf" type="hidden" value="da1a6453-d2ac-4568-bd24-8c5f146cee69" autocomplete="off">

			<button class="btn-login btn-block" type="submit">Войти</button>

		</form>
	</div>
</div>
</body>
<input type="hidden"
       name="${_csrf.parameterName}"
       value="${_csrf.token}"/>
</html>