<!doctype html>
<html lang="ru">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${object.users.username}">Имя Клиента</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/customer/objects}" title="Выбор объекта"><img th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="customer-calendar.html"
						   th:href="'/customer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-psd.html" th:href="'/customer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-work.html" th:href="'/customer/work/'+${object.objectId}">Отчет
							выполненныхработ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-online.html" th:href="'/customer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Календарь-->
<section class="calendar">
	<div class="container-fluid">
		<div class="row">
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div th:each = "ye : ${years}" >
				<div class="accordion-item">
					<h2 class="accordion-header" th:id="'flush-heading'+${ye}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						        th:data-bs-target="'#flush-collapse'+${ye}" aria-expanded="true"
						        th:aria-controls="'#flush-collapse'+${ye}" th:text="${ye}">

						</button>
					</h2>
					<div th:id="'flush-collapse'+${ye}" class="accordion-collapse collapse"
					     th:aria-labelledby="'flush-heading'+${ye}" >
						<div class="accordion-body">
							<!-- Таблица-->
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b1">
											ЯНВАРЬ
										</div>
										<div class="work b1">
											<ul>
<!--												<div th:each="work:${january}">-->
											<li><!--	 th:text="${work.task}"-->>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>
<!--													</div>-->

											</ul>
										</div>
										<div class="comment-name b1">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b1-3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b1-4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
											         title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
											         title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											ФЕВРАЛЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>
											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											МАРТ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											АПРЕЛЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>
											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b1">
											МАЙ
										</div>
										<div class="work b1">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b1">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b1-3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b1-4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											ИЮНЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											ИЮЛЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											АВГУСТ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>
											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b1">
											СЕНТЯБРЬ
										</div>
										<div class="work b1">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b1">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b1-3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b1-4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											ОКТЯБРЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											НОЯБРЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
									<div class="col-md-3 col-12 colum">
										<div class="colum-name b2">
											ДЕКАБРЬ
										</div>
										<div class="work b2">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>

											</ul>
										</div>
										<div class="comment-name b2">
											КОММЕНТАРИЙ
										</div>
										<div class="comment b3">
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
													modi?
												</li>
											</ul>
										</div>
										<div class="bt b4">
											<button class="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addComentModal-z"
													title="Добавить">
												<img  th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
											<button class="btn-del" type="button" data-bs-toggle="modal" data-bs-target="#dellComentModal-z"
													title="Удалить">
												<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>
</section>

<!--Модальное окно для добавление записи-->
<div class="modal fade modal-edit" id="addComentModal-z" tabindex="-1" aria-labelledby="addComentModalLabel-z"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form>
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" aria-label="With textarea"></textarea>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>

<!--Модальное окно для удаления записи-->
<div class="modal fade modal-edit" id="dellComentModal-z" tabindex="-1" aria-labelledby="dellComentModalLabel-z"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form>
							<h6>Выберите задания,которые хотите удалить:</h6>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Задние...
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
								<label class="form-check-label" for="flexCheckChecked">
									Задание ...
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
