<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${object.users.username}">Имя Клиента</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/customer/objects}" title="Выбор объекта"><img
						th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}"
				                                                             alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="customer-calendar.html"
						   th:href="'/customer/calendar/'+${object.objectId}">Календарь работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-psd.html"
						   th:href="'/customer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-work.html"
						   th:href="'/customer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-online.html"
						   th:href="'/customer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Выбор года-->
<form method="get" th:action="'/customer/calendar/' +${object.objectId}">
	<div class="container-fluid">
		<div class="row year-calendar">
			<select class="form-select" name="year" aria-label="Default select example">
				<option th:value="${year}" th:text="${year}" >Текущий год</option>
				<div th:each="ya : ${years}">
					<option th:value="${ya}" th:text="${ya}"></option>
				</div>
			</select>
			<button type="submit">ОК</button>
		</div>


	</div>
</form>

<!--Календарь-->
<section class="calendar">
	<div class="container-fluid">
		<div class="table-body">
			<!-- Таблица-->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							ЯНВАРЬ
						</div>
						<div class="work b1">
							<ul>

								<li th:each="j : ${jan}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b1-3">
							<ul>
								<li th:each="j : ${janCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-jan"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-jan"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ФЕВРАЛЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${feb}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${febCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-feb"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-feb"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							МАРТ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${mar}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${marCom}"  th:text="${j.comment}"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-mar"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-mar"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АПРЕЛЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${apr}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${aprCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-apr"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-apr"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							МАЙ
						</div>
						<div class="work b1">
							<ul>
								<li th:each="j : ${may}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b1-3">
							<ul>
								<li th:each="j : ${mayCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-may"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-may"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮНЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${jun}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${junCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-jun"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-jun"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ИЮЛЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${jul}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${julCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-jul"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-jul"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							АВГУСТ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${aug}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${augCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-aug"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-aug"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b1">
							СЕНТЯБРЬ
						</div>
						<div class="work b1">
							<ul>
								<li th:each="j : ${sep}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b1">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b1-3">
							<ul>
								<li th:each="j : ${sepCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b1-4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-sep"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-sep"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ОКТЯБРЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${oct}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${octCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-oct"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-oct"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							НОЯБРЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${nov}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${novCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-nov"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-nov"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
					<div class="col-md-3 col-12 colum">
						<div class="colum-name b2">
							ДЕКАБРЬ
						</div>
						<div class="work b2">
							<ul>
								<li th:each="j : ${dec}"  th:text="${j.task}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>

							</ul>
						</div>
						<div class="comment-name b2">
							КОММЕНТАРИЙ
						</div>
						<div class="comment b3">
							<ul>
								<li th:each="j : ${decCom}"  th:text="${j.comment}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
									modi?
								</li>
							</ul>
						</div>
						<div class="bt b4">
							<button class="btn-add" type="button" data-bs-toggle="modal"
							        data-bs-target="#addComentModal-z-dec"
							        title="Добавить">
								<img th:src="@{/icon/plus.png}" style="vertical-align: middle"></button>
							<button class="btn-del" type="button" data-bs-toggle="modal"
							        data-bs-target="#dellComentModal-z-dec"
							        title="Удалить">
								<img th:src="@{/icon/basket.png}" style="vertical-align: middle"></button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>

<!--Модальное окно для добавление записи-->
<div class="modal fade modal-edit" id="addComentModal-z-jan" tabindex="-1"
     aria-labelledby="addComentModalLabel-z-jan"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-jan">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentJan"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Январь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentJan" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-feb" tabindex="-1"
     aria-labelledby="addComentModalLabel-z-feb"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-feb">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentFeb"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Февраль">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentFeb" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-mar" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-mar"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-mar">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentMar"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Март">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentMar" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-apr" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-apr"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-apr">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentApr"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Апрель">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentApr" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-may" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-may"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-may">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentMay"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Май">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentMay" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-jun" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-jun"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-jun">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentJun"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Июнь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentJun" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-jul" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-jul"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-jul">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentJul"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Июль">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentJul" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-aug" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-aug"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-aug">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentAug"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Август">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentAug" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-sep" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-sep"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-sep">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentSep"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Сентябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentSep" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-oct" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-oct"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-oct">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentOct"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Октябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentOct" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-nov" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-nov"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-nov">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentNov"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Ноябрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentNov" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="addComentModal-z-dec" tabindex="-1"
	 aria-labelledby="addComentModalLabel-z-dec"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addComentModalLabel-z-dec">Добавить комментарий </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form th:action="'/customer/calendar/addComment/' + ${object.objectId}" id="addCommentDec"
							  method="post">
							<h6>Заполните текстовое поле:</h6>
							<textarea class="form-control" name="commentOfClient" aria-label="With textarea"></textarea>
							<input type="hidden" name="month" value="Декабрь">
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="addCommentDec" type="submit" class="btn btn-modal">Добавить</button>
			</div>
		</div>
	</div>
</div>


<!--Модальное окно для удаления записи-->
<div class="modal fade modal-edit" id="dellComentModal-z-jan" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-jan"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-jan">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComJan" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${janCom}">
							<div class="form-check">
								<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault1">
								<label class="form-check-label" for="flexCheckDefault1" th:text="${comment.comment}">
									Задние...
								</label>
							</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComJan" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-feb" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-feb"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-feb">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComFeb" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${febCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault2">
									<label class="form-check-label" for="flexCheckDefault2" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComFeb" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-mar" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-mar"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-mar">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComMar" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${marCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault3">
									<label class="form-check-label" for="flexCheckDefault3" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComMar" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-apr" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-apr"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-apr">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComApr" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${aprCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault4">
									<label class="form-check-label" for="flexCheckDefault4" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComApr" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-may" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-may"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-may">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComMay" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${mayCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault5">
									<label class="form-check-label" for="flexCheckDefault5" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComMay" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-jun" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-jun"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-jun">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComJun" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${junCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault6">
									<label class="form-check-label" for="flexCheckDefault6" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComJun" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-jul" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-jul"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-jul">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComJul" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${julCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault7">
									<label class="form-check-label" for="flexCheckDefault7" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComJul" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-aug" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-aug"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-aug">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComAug" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${augCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault8">
									<label class="form-check-label" for="flexCheckDefault8" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComAug" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-sep" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-sep"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-sep">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComSep" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${sepCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault9">
									<label class="form-check-label" for="flexCheckDefault9" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComSep" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-oct" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-oct"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-oct">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComOct" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${octCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault10">
									<label class="form-check-label" for="flexCheckDefault10" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComOct" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-nov" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-nov"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-nov">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComNov" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${novCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault11">
									<label class="form-check-label" for="flexCheckDefault11" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComNov" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit" id="dellComentModal-z-dec" tabindex="-1"
     aria-labelledby="dellComentModalLabel-z-dec"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dellComentModalLabel-z-dec">Удалить комментарий</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<form id="delComDec" method="post" th:action="'/customer/calendar/'+${object.objectId}+'/deleteCom'">
							<h6>Выберите комментарии,которые хотите удалить:</h6>
							<div th:each="comment : ${decCom}">
								<div class="form-check">
									<input class="form-check-input" name="com" type="checkbox" th:value="${comment.commentId}" id="flexCheckDefault12">
									<label class="form-check-label" for="flexCheckDefault12" th:text="${comment.comment}">
										Задние...
									</label>
								</div>
							</div>
							<input type="hidden" name="year" th:value="${year}">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button form="delComDec" type="submit" class="btn btn-modal">Удалить</button>
			</div>
		</div>
	</div>
</div>


<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
