<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header2">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${object.users.username}">Имя Клиента</h5>
			</div>
			<div class="col col-home">
				<a href="customer-objects.html" th:href="@{/customer/objects}" title="Выбор объекта"><img th:src="@{/icon/home.png}" alt="дом"></a>
				<a href="index.html" th:href="@{/logout}" title="Выход"><img th:src="@{/icon/logout.png}" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5 th:text="${object.nameOfObject}">Объект</h5>
		</div>
		<div class="row menu navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link h" href="customer-calendar.html" th:href="'/customer/calendar/'+${object.objectId}">Календарь
							работ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-psd.html" th:href="'/customer/psd/'+${object.objectId}">Проектно-сметная
							документация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h" href="customer-work.html" th:href="'/customer/work/'+${object.objectId}">Отчет
							выполненных работ/Фотоотчет</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="customer-online.html"
						   th:href="'/customer/online/'+${object.objectId}">Онлайн-трансляция</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<!--Трансляция-->
<section class="video">
	<div class="container-fluid">
		<div class="row">
			<div class="accordion" id="accordionExample">
				<div th:each="el:${cameras}">
					<div class="accordion-item">
						<h2 class="accordion-header" th:id="'panels-heading'+${el.cameraId}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							        th:data-bs-target="'#panels-collapse'+${el.cameraId}" aria-expanded="false"
							        th:aria-controls="'panels-collapse'+${el.cameraId}" th:text="${el.nameCamera}">
							</button>
						</h2>
						<div th:id="'panels-collapse'+${el.cameraId}" class="accordion-collapse collapse"
						     th:aria-labelledby="'panels-heading'+${el.cameraId}" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div class="camera1">
									<iframe th:src="${el.cameraURL}"
									        title="YouTube video player"
									        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									        allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>
