<!doctype html>
<html lang="ru">
<!--Мета-теги-->
<div th:replace="~{head::head}">
</div>
<body>
<!--Заголовок-->
<section class="header-start">
	<div class="container-fluid">
		<div class="row name-account">
			<div class="col">
				<h5 th:text="${user.username}"></h5>
			</div>
			<div class="col col-home">
				<a href="index.html" th:href="@{/logout}" data-bs-toggle="tooltip"
				   data-bs-placement="top" title="Выход"><img src="../icon/logout.png" alt="выход"></a>
			</div>
		</div>
		<div class="row name-object">
			<h5>КОНТРОЛИРУЕМЫЕ ОБЪЕКТЫ</h5>
		</div>
	</div>
</section>

<!--Список объектов-->
<section class="list-object">
	<div class="container-fluid">
		<div class="row list">
			<ul>
				<div th:each="ob : ${object}">

				<li><a th:href="'/customer/calendar/'+${ob.objectId}"   th:text="${ob.nameOfObject}">Название объекта</a></li>
				</div>

			</ul>
		</div>
	</div>
</section>

<!--Подвал-->
<section class="footer fixed-bottom">
	<div th:replace="~{footer::footer1}"></div>
</section>

<!--Скрипты-->
<div th:replace="~{scripts::scripts}"></div>

</body>
</html>
